<% include _header %>
<body>
<div id="react-root"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js"></script>
<script src="https://unpkg.com/react-router/umd/ReactRouter.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="apiKey.js"></script>
<script src="dietData.js"></script>
<script src="components/SingleRecipeComponent.js"></script>
<script src="components/BarChartComponent.js"></script>
<Script src="components/AdvancedSearchFormComponent.js"></script>
<script src="components/SavedRecipeDetailComponent.js"></script>
<script src="components/SavedRecipeComponent.js"></script>
<script src="components/SaveToComponent.js"></script>
<script src="components/CreateDietComponent.js"></script>
<script src="components/EditDietComponent.js"></script>
<script src="components/RecipeDetailComponent.js"></script>
<script src="components/RecipeSearchComponent.js"></script>
<script src="components/NutrientsSearchComponent.js"></script>
<script src="components/NavBar.js"></script>
<script src="components/script.js"></script>
<Script src="components/LandingComponent.js"></script>
<script src="router.js"></script>
<% include _footer %>
