<% include _header %>

<div class="container">
  <h1>Welcome to the Chad's App landing page</h1>
  <% users.forEach(function(user) { %>
  <div>
    <div>
        <%= user.name() %>
    </div>
  </div>
<% }) %>
</div>

<% include _footer %>
