<% include _header %>
  <div class-"container">
    <div><%- currentUser.name() %></div>
    <div><%- currentUser.password %></div>
    <div><%- currentUser.createdAt %></div>
    <div><%- currentUser.displayName %></div>
  </div>
<% include _footer %>
