/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'PT Sans Narrow', sans-serif; }

header {
  background-color: #B8BDB5;
  color: white;
  overflow: auto;
  opacity: 0.7; }
  header div {
    float: right;
    width: 5%;
    padding: 10px; }
  header a {
    text-decoration: none;
    color: white; }

.app-header-main {
  background-color: #63C7B2;
  overflow: auto;
  width: 100%;
  opacity: 0.7;
  transition-property: opacity, background-color;
  transition-duration: 1s; }
  .app-header-main ul {
    overflow: auto; }
  .app-header-main li {
    float: right;
    width: 5%;
    padding: 10px; }
  .app-header-main a {
    text-decoration: none;
    color: white; }

.app-header {
  background-color: #5F7470;
  width: 100%;
  color: white;
  position: fixed;
  overflow: auto;
  opacity: 1;
  transition-property: opacity, background-color;
  transition-duration: 1s; }
  .app-header ul {
    float: right;
    width: 22%;
    padding-right: 3%; }
  .app-header li {
    float: right;
    width: 5%;
    padding: 10px 0; }
  .app-header .ul-left {
    padding-right: 0px;
    width: 74%; }
  .app-header .left-header-li {
    float: left;
    width: 15%;
    padding: 10px 1% 10px 0; }
  .app-header .nutrients-search {
    float: left;
    width: 18%;
    padding: 10px 1% 10px 0; }
  .app-header a {
    text-decoration: none;
    color: white; }

#react-root {
  overflow: auto;
  height: 100%; }

.main-landing {
  background-color: #63C7B2;
  color: white;
  text-align: center;
  width: 100%;
  opacity: 0.7;
  transition-property: width, opacity;
  transition-duration: 1s; }
  .main-landing h1 {
    font-size: 48px; }
  .main-landing p {
    font-size: 36px;
    padding-top: 25px;
    padding-bottom: 25px; }
  .main-landing .start-button {
    padding: 20px;
    background-color: #5F7470;
    font-weight: bold;
    display: inline-block;
    border-radius: 30%; }
  .main-landing .start-button:hover {
    background-color: #B8BDB5; }

.side-bar {
  float: left;
  width: 19%;
  padding-left: 1%;
  background-color: #63C7B2;
  color: white;
  opacity: 1;
  position: fixed;
  top: 36px;
  transition-property: width, opacity;
  transition-duration: 1s; }
  .side-bar h1 {
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 10px 0;
    display: inline-block; }
  .side-bar h2 {
    display: inline-block;
    font-size: 14px;
    color: white;
    padding-left: 10px; }
  .side-bar .title-h1 {
    padding: 20px 0;
    font-size: 24px; }
  .side-bar h3 {
    font-size: 14px;
    color: white;
    padding: 5px 0; }
  .side-bar p {
    font-size: 14px;
    color: white;
    padding-left: 12px;
    padding-top: 3px; }
  .side-bar .add-catagory {
    padding-left: 10px;
    display: block;
    padding-bottom: 5px; }
  .side-bar ul {
    padding-left: 10px; }
  .side-bar li {
    padding: 5px 0;
    font-size: 14px; }
  .side-bar form {
    padding-left: 10px;
    padding-bottom: 5px; }
  .side-bar .recipes {
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px; }

.content-container {
  margin: 36px;
  float: right;
  width: 80%;
  text-align: center; }

.search-container {
  float: right;
  width: 76%;
  margin: 52px 2% 2% 2%; }
  .search-container form {
    margin: 1% 0; }
  .search-container h1 {
    margin: 1% 0; }
  .search-container p {
    margin: 1% 0; }

.search-results li {
  margin: 1% 0; }

.search-results p {
  display: inline;
  padding-right: 15px; }

.search-results img {
  width: 100px;
  height: 100px;
  display: inline;
  vertical-align: middle;
  padding-right: 15px; }

.detail-img {
  width: 250px; }

.update-diet input {
  display: block;
  margin: 2% 0; }

/*# sourceMappingURL=style.css.map */
