@import 'reset';
body{
  font-family: 'PT Sans Narrow', sans-serif;
}
header{
  background-color: #B8BDB5;
  color: white;
  overflow: auto;
  opacity: 0.7;
  div{
    float: right;
    width: 5%;
    padding: 10px;
  }
  a{
    text-decoration: none;
    color: white;
  }
}

.app-header-main{
  background-color: #63C7B2;
  overflow: auto;
  width: 100%;
  opacity: 0.7;
  transition-property: opacity, background-color;
  transition-duration: 1s;
  ul{
    overflow: auto;
  }
  li{
    float: right;
    width: 5%;
    padding: 10px;
  }
  a{
    text-decoration: none;
    color: white;
  }
}
.app-header{
  background-color: #5F7470;
  width: 100%;
  color: white;
  position: fixed;
  overflow: auto;
  opacity: 1;
  transition-property: opacity, background-color;
  transition-duration: 1s;
  ul{
    float: right;
    width: 22%;
    padding-right: 3%;
  }
  li{
    float: right;
    width: 5%;
    padding: 10px 0;
  }
  .ul-left{
    padding-right: 0px;
    width: 74%;
  }
  .left-header-li{
    float: left;
    width: 15%;
    padding: 10px 1% 10px 0;
  }
  .nutrients-search{
    float: left;
    width: 18%;
    padding: 10px 1% 10px 0;
  }
  a{
    text-decoration: none;
    color: white;
  }
}
#react-root{
  overflow: auto;
  height: 100%;
}
.main-landing{
  background-color: #63C7B2;
  color: white;
  text-align: center;
  width: 100%;
  opacity: 0.7;
  transition-property: width, opacity;
  transition-duration: 1s;
  h1{
    font-size: 48px;
  }
  p{
    font-size: 36px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .start-button{
    padding: 20px;
    background-color: #5F7470;
    font-weight: bold;
    display: inline-block;
    border-radius: 30%;
  }
  .start-button:hover{
    background-color: #B8BDB5;
  }
}
.side-bar{
  float: left;
  width: 19%;
  padding-left: 1%;
  background-color: #63C7B2;
  color: white;
  opacity: 1;
  position: fixed;
  top: 36px;
  transition-property: width, opacity;
  transition-duration: 1s;
  h1{
    font-size: 24px;
    color: white;
    text-align: left;
    padding: 20px 0;
    display: inline-block;
  }
  p{
    display: inline-block;
    font-size: 14px;
    color: white;
    padding-left: 20px;
  }
  .add-catagory{
    padding-left: 10px;
    display: block;
    padding-bottom: 5px;
  }
  ul{
    padding-left: 10px;
  }
  li{
    padding: 5px 0;
    font-size: 14px;
  }
  form{
    padding-left: 10px;
    padding-bottom: 5px;
  }
}
.content-container{
  margin: 36px;
  float: right;
  width: 80%;
  text-align: center;
}
.search-container{
  float: right;
  width: 76%;
  margin: 52px 2% 2% 2%;
  form{
    margin: 1% 0;
  }
  h1{
    margin: 1% 0;
  }
  p{
    margin: 1% 0;
  }
}
.search-results{
  li{
    margin: 1% 0;
  }
  p{
    display: inline;
    padding-right: 15px;
  }
  img{
    width: 100px;
    height: 100px;
    display: inline;
    vertical-align: middle;
    padding-right: 15px;
  }
}
.detail-img {
  width: 250px;
}
.update-diet{
  input{
    display: block;
    margin: 2% 0;
  }
}
