@import 'reset';
body{
  font-family: 'PT Sans Narrow', sans-serif;
}
header{
  background-color: #63C7B2;
  color: white;
  overflow: auto;
  div{
    float: right;
    width: 5%;
    padding: 10px;
  }
  a{
    text-decoration: none;
    color: white;
  }
}
.container{
  position: relative;
}
.app-header-main{
  background-color: #63C7B2;
  overflow: auto;
  width: 100%;
  opacity: 0.7;
  transition-property: opacity, background-color;
  transition-duration: 1s;
  ul{
    overflow: auto;
  }
  li{
    float: right;
    width: 5%;
    padding: 10px;
  }
  a{
    text-decoration: none;
    color: white;
  }
}
.app-header{
  background-color: #5F7470;
  width: 100%;
  color: white;
  position: fixed;
  overflow: auto;
  z-index: 1000;
  opacity: 1;
  transition-property: opacity, background-color;
  transition-duration: 1s;
  ul{
    float: right;
    width: 22%;
    padding-right: 3%;
  }
  li{
    float: right;
    width: 5%;
    padding: 10px 0;
  }
  .ul-left{
    padding-right: 0px;
    width: 74%;
  }
  .left-header-li{
    float: left;
    width: 15%;
    padding: 10px 1% 10px 0;
  }
  .nutrients-search{
    float: left;
    width: 18%;
    padding: 10px 1% 10px 0;
  }
  a{
    text-decoration: none;
    color: white;
  }
}
#react-root{
  overflow: auto;
  height: 100%;
}
.main-landing{
  background-color: #63C7B2;
  color: white;
  text-align: center;
  width: 100%;
  opacity: 0.7;
  transition-property: width, opacity;
  transition-duration: 1s;
  h1{
    font-size: 48px;
  }
  p{
    font-size: 36px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .start-button{
    padding: 20px;
    background-color: #5F7470;
    font-weight: bold;
    display: inline-block;
    border-radius: 30%;
  }
  .start-button:hover{
    background-color: #B8BDB5;
  }
}
.side-bar{
  float: left;
  width: 19%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
  background-color: #63C7B2;
  color: white;
  opacity: 1;
  position: fixed;
  top: 36px;
  overflow-y: scroll;
  transition-property: width, opacity;
  transition-duration: 1s;
  .left-nav-container{
    width: 250px;
  }
  h1{
    font-size: 22px;
    color: white;
    text-align: left;
    padding: 10px 0;
    display: inline-block;
  }
  h2{
    display: inline-block;
    font-size: 14px;
    color: white;
    padding-left: 10px;
  }
  .title-h1{
    padding: 20px 0;
    font-size: 24px;
  }
  h3{
    font-size: 18px;
    color: white;
    padding: 5px 0;
  }
  p{
    font-size: 16px;
    color: white;
    padding-left: 12px;
    padding-top: 3px;
    padding-right: 3%;
    padding-bottom: 3px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .add-catagory{
    padding-left: 10px;
    display: block;
    padding-bottom: 5px;
  }
  ul{
    padding-left: 10px;
  }
  li{
    padding: 5px 0;
    font-size: 14px;
  }
  form{
    padding-left: 10px;
    padding-bottom: 5px;
  }
  .recipes{
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  input{
    font-size: 14px;
    padding: 2px;
  }
}
.content-container{
  margin: 36px;
  float: right;
  width: 80%;
  font-size: 36px;
  position: relative;
  left: 3%;
  h1{
    margin: 5% 0;
    font-weight: bolder;
  }
  a{
    text-decoration: none;
  }
}
.vertical-alignment{
  position: absolute;
  text-align: center;
  left: 25%;
  top: 40%;
  transform: translateY(-50%);
}
.search-container{
  float: right;
  width: 76%;
  margin: 52px 2% 2% 2%;
  form{
    margin: 1% 0;
  }
  h1{
    margin: 1% 0;
  }
  p{
    margin: 1% 0;
  }
  .react-form-h1{
    font-size: 24px;
    margin: 20px 5px 20px 5px;
  }
}
.search-results{
  li{
    margin: 1% 0;
  }
  p{
    display: inline;
    padding-right: 15px;
    font-size: 18px;
  }
  a{
    text-decoration: none;
  }
  img{
    width: 100px;
    height: 100px;
    display: inline;
    vertical-align: middle;
    padding-right: 15px;
  }
}
.update-diet{
  input{
    display: block;
    margin: 2% 0;
  }
}
.ejs-title-header{
  background-color: #63C7B2;
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 0 0 36px 0;
  font-weight: bolder;
}

.ejs-background{
  background-color: #E0E2DB;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ejs-container{
  width: 960px;
  margin: 25px auto;
  overflow: auto;
}

.ejs-float{
  float: left;
  background-color: #5F7470;
  width: 40%;
  height: 235px;
  margin: 15px 1.5%;
  padding: 3.5%;
  font-size: 18px;
  color: white;
  line-height: 1.5em;
  font-weight: bold;
  h1{
    font-size: 24px;
    padding-bottom: 10px;
  }
}

.ejs-middle{
  margin: 1.5%;
  padding: 3.5%;
  width: 90%;
  background-color: #5F7470;
  clear: both;
  color: white;
  line-height: 1.5em;
  font-size: 18px;
  font-weight: bold;
  h1{
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.ejs-form{
  input{
    padding: 25px;
    margin: 25px auto;
    font-size: 24px;
    display: block;
    width: 300px;
  }
  .input-button{
    width: 150px;
    background-color: #5F7470;
    color: white;
  }
}

.ejs-logging-h1{
  margin: 25px auto;
  font-size: 36px;
  text-align: center;
}

.react-form{
  input{
    display: inline-block;
    margin: 15px 5px;
    padding: 5px;
    font-size: 12px;
  }
  button{
    padding: 5px;
    margin-left: 5px;
    background-color: #5F7470;
    color: white;
    font-size: 12px;
  }
}

.react-button{
  padding: 5px;
  margin-left: 5px;
  background-color: #5F7470;
  color: white;
  font-size: 12px;
}

.detail-container{
  float: right;
  width: 76%;
  overflow: auto;
  position: relative;
  margin: 52px 2% 2% 2%;
  border: solid 1px black;
  .react-detail-h1{
    font-size: 28px;
    margin: 20px 5px 20px 5px;
  }
  .detail-float{
    float: left;
    width: 48%;
    z-index: -1000;
  }
  .detail-img {
    width: 250px;
    padding-left: 2%;
  }
  .graph-div{
    padding-left: 2%;
  }
  h1{
    clear: left;
  }
  h2{
    margin: 3% 0;
    font-size: 22px;
  }
  ul{
    margin: 2% 0;
  }
  li{
    margin: 2% 0;
  }

}
.save-to-button{
  padding: 5px;
  background-color: #5F7470;
  color: white;
  cursor: pointer;
  width: 6%;
  text-align: center;
  border: solid 1px red;
  margin-bottom: 10px;
  span{
    font-size: 12px;
  }
}
.save-to-dropdown{
  background-color: #E0E2DB;
  padding: 5px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px blue;
  z-index: 1;
  li{
    padding: 5px;
    cursor: pointer;
  }

}
